apiVersion: v1
kind: ServiceAccount
metadata:
  name: kdmp-operator
  namespace: kube-system
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
   name: kdmp-operator
rules:
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
      - configmaps
      - events
      - secrets
      - serviceaccounts
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
      - pods
    verbs:
      - get
      - list
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
    verbs:
      - '*'
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - '*'
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - create
  - apiGroups:
      - kdmp.portworx.com
    resources:
      - dataexports
      - volumebackups
    verbs:
      - '*'
  - apiGroups:
      - stork.libopenstorage.org
    resources:
      - backuplocations
    verbs:
      - '*'
  - apiGroups:
      - volumesnapshot.external-storage.k8s.io
    resources:
      - volumesnapshotdatas
      - volumesnapshots
    verbs:
      - '*'
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshotclasses
      - volumesnapshotcontents
      - volumesnapshots
    verbs:
      - '*'
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    verbs:
      - use
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kdmp-operator
subjects:
  - kind: ServiceAccount
    name: kdmp-operator
    namespace: kube-system
roleRef:
  kind: ClusterRole
  name: kdmp-operator
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kdmp-operator
  namespace: kube-system
  labels:
    name: kdmp-operator
spec:
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  replicas: 1
  selector:
    matchLabels:
      name: kdmp-operator
  template:
    metadata:
      labels:
        name: kdmp-operator
    spec:
      containers:
      - name: kdmp-operator
        image: portworx/kdmp:latest
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 0.5
            memory: 200Mi
          limits:
            cpu: 1
            memory: 500Mi
      serviceAccountName: kdmp-operator
